@media (min-width: 992px){
  .bd-sidebar-primary{width:11rem!important;flex:0 0 11rem!important;overflow:auto}
  .bd-sidebar-secondary{width:9rem!important;flex:0 0 9rem!important;overflow:auto}
  .bd-page-width,.bd-container,.bd-main,.bd-content{width:100%!important;max-width:100vw!important}
  .bd-main .bd-content .bd-article-container{max-width:none!important;
    width:calc(100vw - 11rem - 9rem - 2rem)!important;margin:0 1rem!important}
}

